body {
	margin: 0;
	padding: 0;
	background-image: url(images/3.jpg);
}

main {
	width: 100vw;
	height: 100vh;
}

.main-content {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(173.5%, 0 );
	width: 20%;
	height: auto;
	transition-duration: 3s;
	align-items: center;]
	justify-content: center;
	display: flex;
}

.image-big {
	position: absolute;
	width: 100%;
	height: auto;
}

.image {
	position: absolute;
	left: %;
	width: 30%;
	height: auto;
	transform: translate(110%, 0%);
}

.main-content:hover .image1 {
	transform: translate(-500%, -300%);
}

.main-content:hover .image2 {
	transform: translate(110%, -300%);
}

.main-content:hover .image3 {
	transform: translate(740%, -300%);
}

.main-content:hover .image4 {
	transform: translate(740%, 0%);
}

.main-content:hover .image5 {
	transform: translate(740%, 300%);
}

.main-content:hover .image6 {
	transform: translate(110%, 300%);
}

.main-content:hover .image7 {
	transform: translate(-500%, 300%);
}

.main-content:hover .image8 {
	transform: translate(-500%, 0%);
}

.image1 {
	transition-delay: 0.1s;
	transition-duration: 2s; 
}

.image2 {
	transition-delay: 0.2s;
	transition-duration: 2s; 
}

.image3 {
	transition-delay: 0.3s;
	transition-duration: 2s; 
}

.image4 {
	transition-delay: 0.4s;
	transition-duration: 2s; 
}

.image5 {
	transition-delay: 0.5s;
	transition-duration: 2s; 
}

.image6 {
	transition-delay: 0.6s;
	transition-duration: 2s; 
}

.image7 {
	transition-delay: 0.7s;
	transition-duration: 2s; 
}

.image8 {
	transition-delay: 0.8s;
	transition-duration: 2s; 
}


